[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[scripts]
start = "./sentinel.sh"
pylint = "pylint"

[packages]
gspread = "==3.7.0"
Pillow = "==9.3.0"
mysql-connector-python = "==8.0.19"
discord-py-interactions = "==5.9.2"
aiohttp = "*"

[dev-packages]
pylint = ">=2.7.1"
beautifulsoup4 = ">=4.9.3"
selenium = "*"
selenium-wire = "*"
mypy = "*"
black = "*"
isort = "*"
