[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[scripts]
start = "python -u app.py"
pylint = "pylint"

[packages]
gspread = "==3.7.0"
Pillow = "==9.3.0"
mysql-connector-python = "==8.0.19"
discord-py-interactions = "==4.4.0"
interactions-files = "*"
interactions-wait-for = "*"
apscheduler = "*"

[dev-packages]
pylint = ">=2.7.1"
beautifulsoup4 = ">=4.9.3"
selenium = "*"
selenium-wire = "*"
mypy = "*"
black = "*"
isort = "*"
